/**
 * Example directive styling
 */
.sd-example .sd-card-header {
    font-size: .8em;
}

.sd-example-title p {
    margin: 0;
    font-size:.9em;
}

.sd-example-source div[class*="highlight-"], .sd-example-source div.highlight {
    margin: 0;
}
